/* Stylesheet for: 
   https://prg-math.netlify.com

   CREATED: 21st May 2026 01:13 PM GMT
   UPDATED: 21st May 2026 01:13 PM GMT
*/

html{
 margin:10px;  
 background-color:black;
 color:white;   
}

body{
 margin:10px;   
 background-color:white;
 color:black;   
}

nav{
 width:50%;
 margin:auto;
 background-color:yellow;  
}
   
h1,footer{
 background-color:black;
 color:white;  
}   

nav,header,footer{
 text-align:center;
}

/* Classes */  
    
.clsDateTimeStamp{
 color:red;
 font-style:italic;
} 
